/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

.container {
  width: 100%;
  background-color: white;
  height: 600px;
  padding: 20px;
  text-align: center;
}

.header {
  padding: 40px;
  text-align: center;
  background: red;
  color: white;
  font-size: 30px;
}

.footer {
  padding: 40px;
  background: red;
  text-align: center;
  color: white;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.button {
  background-color: red;
  color: white;
  text-align: center;
  font-family: Poppins-Regular;
  border: none;
  padding: 15px 32px;
}

.box {
  
}



